        * {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            background-image: url(./../images/bg.gif);
        }
        /* 导航栏设置 */
        
        #head {
            height: 30px;
        }
        
        #control {
            width: 600px;
        }
        
        #center {
            display: none;
        }
        
        div.row {
            /* background-color: #ffff; */
            background: url(../images/03.jpg) no-repeat fixed;
            background-size: 100%;
        }
        
        .btn-group {
            transform: translateY(20px);
            display: flex;
            justify-content: space-around;
        }
        
        .btn-group .btn {
            display: inline-block;
            width: 100px;
            background-color: rgb(181, 176, 230);
            color: #ffff;
            border-radius: 0;
            font-weight: 600;
        }
        
        div.box-show {
            margin-top: 30px;
        }
        
        div.box ul li {
            background: rgba(245, 245, 245, .8);
            padding: 10px;
        }
        
        div.box ul li:hover {
            background-color: #c2c2c2;
        }
        
        div.box ul li div:first-child {
            padding-bottom: 4px;
        }
        
        #type {
            display: inline-block;
            width: 34px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            background-color: #fc5531;
            color: #fff5f2;
            border-radius: 2px;
        }
        
        div.box ul li div:first-child h4 {
            color: #fc5531;
            display: inline-block;
            font-size: 15px;
            width: 300px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            transform: translateY(3px);
        }
        
        div a {
            text-decoration: none;
            font-style: normal;
            display: flex;
        }
        
        div a:hover {
            text-decoration: none;
            font-style: normal;
        }
        
        div a img {
            width: 180px;
            height: 100px;
        }
        
        div a div.right {
            padding-left: 15px;
            flex: 7;
        }
        
        div a div.right p {
            color: rgb(126, 124, 124);
            width: 300px;
            height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        
        div a div.right .data {
            padding-top: 40px;
        }
        
        div a div.right .data div {
            font-size: 12px;
            float: left;
        }
        
        div a div.right .data div:nth-child(n+2) {
            padding-left: 50px;
        }
        
        div a div.right .data div.like {
            color: red;
        }
        
        .zy_media {
            margin-top: 20px;
        }
        
        .top {
            padding-top: 20px;
            background-color: rgba(255, 255, 255, .8);
            border-radius: 10px;
            margin-top: 20px;
        }
        
        .top h4 {
            text-align: center;
            font-size: 18px;
            padding-left: 10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        .top ul {
            padding-left: 50px;
        }
        
        .top ul li {
            padding: 10px 0px;
            width: 330px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
        }
        
        .top ul li:last-child {
            padding-bottom: 20px;
        }
        
        .top ul li i {
            font-size: 15;
            font-weight: 800;
        }
        
        .top ul li.num i {
            font-size: 15;
            font-weight: 800;
            color: red;
        }
        
        .top h4 i {
            padding: 0 10px;
            color: gold;
        }
        
        div.footer {
            margin-top: 20px;
            width: 100%;
            background-color: #f8f8f8;
        }
        
        div.footer div {
            text-align: center;
            color: #a69aaa;
        }
        
        div.footer div a {
            color: #a69aaa;
            text-decoration: none;
            display: inline-block;
        }
        
        div.footer div a i {
            padding-right: 5px;
        }
        
        div.footer div.one {
            padding-top: 30px;
        }
        
        div.footer div.one a:nth-child(n+1) {
            padding: 10px 10px;
        }
        
        div.footer div.two {
            font-size: 12px;
            text-align: center;
        }
        
        div.footer div.two a:nth-child(n+1) {
            padding: 2px 5px;
        }
        
        div.footer div.two a img {
            width: 14px;
            height: 14px;
        }
        
        div.footer div.three ul {
            padding: 5px 0 30px;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
        
        div.footer div.three ul li {
            float: left;
        }
        
        div.footer div.three ul li:nth-child(n+1) {
            padding-left: 20px;
        }
        
        div.layui-carousel {
            margin-top: 20px;
        }
        
        div.layui-carousel div img {
            width: 100%;
            height: 100%;
        }
        
        div.dateTime {
            position: absolute;
            top: 290px;
            left: 170px;
        }
        
        div.box-show img {
            /* 设置过渡 */
            transition: transform 0.1s;
        }
        
        .hover {
            /* 宽高都放大1.03倍 */
            transform: scale(1.03);
        }